<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="employee">

    <select id="getEmployeeName" parameterType="Integer"
            resultType="String">
        select first_name from employees where employee_id=#{id}
    </select>
</mapper>